@import (reference) "./../common.less";
.bm-header-com {
  .bc(@white);
  .h(60);
  .posr;
  z-index: 2;
  .c(@dark);
  .df;
  justify-content: space-between;
  align-items: center;
  .borb(1px solid @grayD);
  .title {
    .flex(1);
    .fz(20);
    .tc;
    .c(#515861);
    .fw(700);
    // font-family: ;
  }
  .left {
    .click;
    .ml(20);
    .icon-back {
      .bi("/static/img/common/riLine-logout-box-line.svg");
      .squ(24);
      .mr(5);
    }
  }
  .right {
    .click;
    .mr(20);
    .icon-next {
      .bi("/static/img/common/riLine-skip-forward-line.svg");
      .squ(24);
      .ml(5);
      &.icon-prev {
        .tranf(scale(-1, 1));
      }
    }
  }
  // i{
  //   .click;
  //   // .mr(15);
  //   // .p(10px);
  //   .df;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   .fz(14);
  //   &::before{
  //     .fz(30);
  //   }
  // }
  // .el-button-group{
  //   .df;
  //   align-items: center;
  //   justify-content: center;
  //   .posr;
  //   .p(0 15px);
  //   &::before{
  //     .bc(@grayE);
  //     .posa;
  //     .h(25);
  //     .w(1);
  //     left:0;
  //   }
  //   &.last{
  //     &::after{
  //       .bc(@grayE);
  //       .posa;
  //       .h(30);
  //       .w(1);
  //       right:0;
  //     }
  //   }
  // }
  // .el-button{
  //   .bc(transparent);
  //   .click;
  //   .bor(0);
  //   span{
  //     .df;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //     .c(@white);
  //   }
  //   i{
  //     .fz(26);
  //     .mb(5);
  //   }
  //   .el-icon-minus,.el-icon-plus{
  //     .mb(0);
  //   }
  // }
  .left,
  .right {
    .df;
    align-items: center;
    // i{
    //   .ml(15);
    //   .fz(30);
    // }
  }
}
