@import (reference) "./../common.less";
.bm-header-com{
  .bc(@dark);
  .h(60);
  .posr;
  z-index: 2;
  .c(@white);
  .df;
  justify-content: space-between;
  align-items: center;
  .title{
    .flex(1);
    .fz(25);
    .tc;
  }
  .left{}
  .right{
    // .mr(15);
    i{
      .fz(30);
      .click;
      .mr(15);
      // .p(10px);
    }
  }
}