@import (reference) "./../common.less";
.bm-info-com {
  .borl(1px solid #cbd3e0);
  .posr;
  z-index: 2;
  .bc(#f6f7fb);
  .el-tabs {
    .pt(15);
    .pl(15);
    .borb(1px solid #e2e5ec);
    // .pb(1)
    &.collapse-item-tab {
      .borb(none);
      .pt(0);
      .el-tabs__nav-next,
      .el-tabs__nav-prev {
        .lh(32);
      }
      .el-tabs__item {
        .h(30);
        .lh(30);
        &.is-active {
          .bc(@themes);
          .c(@white);
        }
      }
    }
    .el-tabs__header {
      .mb(0);
      .bor(none);
    }
    .el-tabs__nav {
      .bort(none);
      .borl(none);
      .borr(none);
    }
    .el-tabs__item {
      .bor(none);
      .fw(400);
      .c(@gray6);
      &.is-active {
        .bc(@white);
        .c(@gray3);
      }
    }
  }
  .com-data {
    .el-icon-delete,
    .el-icon-link {
      .fz(22);
      .click;
      &:hover {
        .tranf(scale(1.2));
      }
      &.active {
        .c(@themes);
      }
    }
  }
  .com-style {
    // .p(10px 15px);
    .touch-y;
    .flex(1);
    .el-collapse {
      .bort(none);
      // .mt(1);
      .el-collapse-item {
        .posr;
        &.unfold {
          .el-collapse-item__header {
            .db(none);
          }
        }
        &.is-disabled {
          .el-collapse-item__header {
            .c(@gray3);
            cursor: default;
          }
        }
        .el-collapse-item__header {
          &.is-active {
            .bc(transparent);
            &::before {
              content: "\e790";
            }
          }
        }
        &.no-border {
          .el-collapse-item__wrap {
            .borb(none);
          }
        }
        &.no-right {
          .el-collapse-item__header {
            .el-collapse-item__arrow {
              .db(none);
            }
            .right {
              i {
                .fz(16);
              }
            }
          }
        }
        &:first-child {
          .el-collapse-item__header {
            .bc(#f6f7fb);
            .posf;
            .w(375);
            z-index: 1;
            .fz(15);
            .fw(400);
            .el-collapse-item__arrow {
              .db(none);
            }
            &::before {
              .db(none);
            }
          }
          .el-collapse-item__wrap {
            .pt(40);
          }
        }
        .el-collapse-item__header {
          .pl(20);
          .lh(40);
          .h(40);
          .df;
          justify-content: space-between;
          align-items: center;
          font-family: element-icons !important;
          .posr;
          &::before {
            content: "\e791";
            .posa;
            left: 5px;
          }
          .right {
            .fz(22);
            .pr(10);
            i {
              .p(0 5px);
              // .pointer;
              .click;
            }
          }
        }
        .el-collapse-item__wrap {
          overflow: initial;
          .bc(transparent);
          .el-collapse-item__content {
            .pl(15);
            .pt(2);
            .pr(15);
            .pb(5);
            p {
              &:first-child {
                .mt(0);
              }
            }
            .el-icon-warning-outline {
              .fz(16);
              .ml(10);
            }
            .tab-collapse {
              .el-collapse-item__header {
                .lh(35);
                .h(35);
                .fz(12);
                .right {
                  i {
                    .fz(13);
                  }
                }
              }
              .tab-collapse-item {
                &:first-child {
                  .el-collapse-item__header {
                    // .bc(@white);
                    &::before {
                      .db;
                    }
                  }
                }
                .el-collapse-item__wrap {
                  // .pt(0);
                  .el-collapse-item__content {
                    p {
                      .ml(10);
                      &.shadow-box {
                        .mr(0);
                        .c-box {
                          .ml(5);
                        }
                      }
                    }
                  }
                }
              }
              .el-collapse-item__wrap {
                .pt(0);
              }
            }
          }
        }
      }
    }
    h2 {
      .mt(10);
      .fz(15);
      .lh(30);
      // .mb(1)
    }
    p {
      .mt(10);
      min-height: 35px;
      .df;
      flex-wrap: wrap;
      align-items: center;
      // .bm-common-wang-editor-com{
      //   // .w(300);
      //   .ml(35);
      //   .mr(30);
      //   .mt(15);
      //   .w-e-text-container{
      //     .w-e-panel-container{
      //       .w(350)!important;
      //       .ml(-180)!important;
      //     }
      //   }
      // }
      &.top-position {
        align-items: flex-start;
      }
      &.btn-box {
        // .ml
        i {
          .click;
          .fz(18);
          .p(8px);
          &.active {
            .c(@themes);
          }
        }
      }
      .bm-common-quill-editor-com {
        .ml(5);
        // .mr(30);
        .mt(15);
        .w(360);
      }
      .vue-slider {
        // .w(100%);
        .flex(1);
        // .m(0 30px);
        .ml(30);
        .mr(10);
        .vue-slider-marks {
          .db(none);
        }
        .vue-slider-dot {
          .mt(10);
          cursor: pointer;
          // &:first-child,
          // &:last-child {
          //   cursor: not-allowed;
          //   pointer-events: none;
          // }
          &.vue-slider-dot-focus {
            .dot-box {
              .bi("../../../assets/img/dot2.png");
            }
          }
          .dot-box {
            .bg-img;
            .bi("../../../assets/img/dot1.png");
            .squ(17);
            .posr;
            .dot {
              .posa;
              top: 6px;
              left: 4px;
              .squ(9);
            }
          }
          // .vue-slider-rail
        }
        .vue-slider-process {
          // .h(40)!important;
          .squ(100%);
          .br(0);
        }
        .vue-slider-dot-disabled {
          cursor: not-allowed;
        }
      }
      &:hover {
        .el-slider {
          opacity: 1;
        }
      }
      &.align {
        .bomi {
          .fz(22);
          .mr(10);
          .p(0 5px);
          .bor(1px solid transparent);
          .click;
          &.active {
            .borc(@grayE);
          }
        }
      }
      .c-box {
        .flex(1);
        .df;
        flex-wrap: wrap;
        & > span {
          .bor(1px solid @grayE);
          .flex(1);
          .bc(@grayE);
          .c(@gray3);
          .pl(10);
          .pr(0);
          .df;
          align-items: center;
          .mb(5);
          &:nth-child(2n + 2) {
            .ml(5);
          }
          .el-input-number {
            .ml(10);
            .mr(0);
            .flex(1);
            // .w(80);
            .el-input__inner {
              .bor(none);
            }
            .el-input-number__decrease {
              bottom: 0;
              right: 0;
              .lh(16);
            }
            .el-input-number__increase {
              top: 0;
              right: 0;
              .lh(16);
            }
          }
        }
      }
      &.shadow-box {
        .db;
        .mr(30);
        .c-box {
          .ml(30);
          .df;
          .w(100%);
          & > span {
            min-width: 25%;
            .flex(1);
            .bor(1px solid @grayE);
            &:nth-child(2n + 3) {
              .ml(5);
            }
          }
        }
      }
      &.margin-box,
      &.padding-box {
        .c-box {
          .flex(1);
          .df;
          flex-wrap: wrap;
          & > span {
            min-width: 42%;
          }
        }
      }
      &.gradient-aperture {
        .el-button {
          .p(10px);
        }
        .el-input {
          .ml(10);
        }
      }
      .gradient {
        .dib;
        .h(30);
        .w(100);
      }
      // .el-color-picker{
      //   // .ml(10);
      // }
      .el-radio-group {
        .df;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        .el-radio {
          .mb(10);
        }
        &.gradient-type-group {
          flex-direction: row !important;
          .el-radio-button {
            .br(0 4px 4px 0);
            &:first-child {
              .br(4px 0 0 4px);
            }
            &.is-active {
              .el-radio-button__inner {
                .bc(transparent);
              }
            }
          }
        }
        &.flex {
          flex-direction: row !important;
        }
      }
      .el-slider {
        opacity: 0;
        .ml(15);
        .flex(1);
      }
      .font-style {
        .df;
        span {
          .click;
          .fz(15);
          .p(5px 8px);
          .squ(25);
          .tc;
          .lh(25);
          .mr(10);
          &.active {
            .bor(1px solid #e2e5ec);
          }
        }
        .bold {
          .fw(bold);
        }
        .underline {
          text-decoration: underline;
          .fw(bold);
        }
        .italic {
          font-style: italic;
          .fw(bold);
        }
      }
      .label {
        // .mb()
        .w(60);
        .tl;
        .mr(10);
        .c(@gray6);
        .ellipsis;
      }
      .el-input {
        .flex(1);
      }
      .el-input-number {
        .mr(5);
        .w(100);
        .el-input-number__decrease {
          bottom: 2px;
        }
        &.flex {
          .flex(1);
          .el-input__inner {
            .tl;
          }
        }
        &.is-controls-right {
          &:hover {
            span {
              .db;
            }
          }
          span {
            .db(none);
          }
        }
      }
      .el-color-picker {
        .flex(1);
      }
      .el-select {
        .w(100%);
        .flex(1);
      }
      .col {
        .df;
        .flex(1);
        align-items: center;
        .mb(10);
        // .label{
        //   // .flex(1);
        //   width:auto;
        // }
        .el-input {
          // .w(60);
          min-width: 90px;
          // .m(0 5px);
          .mr(5);
        }
      }
      .el-icon-zoom-in,
      .el-icon-refresh-left,
      .el-icon-zoom-out,
      .el-icon-rank,
      .el-icon-thumb,
      .icon-paint {
        .fz(22);
        .click;
        .mr(10);
        .p(8px);
        &.active {
          .bor(1px solid @grayE);
        }
      }
    }
  }
  .flip-list-move {
    .tran(transform 0.5s);
  }
  .no-move {
    .tran(transform 0s);
  }
  .ghost {
    opacity: 0.5;
    background: #96d6f4;
  }
  .com-count{
    .fz(13);
    .pl(15px);
    .fw(400);
    .mt(10);
    .count{
      .fw(700);
      .fz(14);
      &.red{
        .c(red);
      }
    }
  }
  .com-list-box {
    .m(15px);
    .touch-y;
    .flex(1);
    li {
      .bor(1px solid @grayE);
      .mb(15);
      // .click;
      & > ul {
        .m(10px);
        li {
          .mb(10);
          &:first-child {
            .mt(0);
          }
        }
      }
      .title {
        .df;
        .p(10px);
        .pointer;
        justify-content: space-between;
        align-items: center;
        i {
          .fz(16);
          .fw(700);
          .p(5px);
        }
        &:hover {
          .bc(@grayE);
        }
        &.active {
          // .bc(@themes);
          .bc(#9cd1fb9c);
          // .c(@white);
        }
      }
      .el-icon-link {
        .fz(24);
        &.active {
          .c(@themes);
        }
      }
    }
  }
  .el-dialog {
    .el-dialog__header {
      .bc(@grayE);
      .df;
      align-items: center;
      .pb(20);
    }
    .el-dialog__body {
      .pt(20);
    }
  }
}
