.bm-side {
  display: inline-block;
  width: 54px;
  height: 100%;
  background-color: #4a5053;
  font-size: 15px;
  text-align: center;
}
.bm-side > li {
  width: 34px;
  padding: 20px 10px;
  text-align: center;
  cursor: pointer;
  color: #999ea8;
}
.bm-side > li > p {
  margin-top: 5px;
}
.bm-side > li.active {
  background-color: #12a3ff;
  color: #fff;
}
.bm-side > li:not(.active):hover {
  color: #fff;
}
