@import "./../style/bm";

.bm-side {
  display: inline-block;
  width: 54px;
  height: 100%;
  background-color: #002C2F;
  font-size: 15px;
  text-align: center;//002C2F 023459 1E646E B2A59F

  & > li {
    width: 34px;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
    color: #999ea8;

    & > p {
      margin-top: 5px;
    }
  }

  & > li.active {
    background-color: #1E646E;
    color: #fff;
  }

  & > li:not(.active):hover {
    color: #fff;
  }
}
