.bm-slider {
  position: relative;
  width: 100%;
  background-color: #ebedf0;
  border-radius: 999px;
  cursor: pointer;
}
.bm-slider__interval {
  padding-bottom: 15px;
  margin-top: 15px;
}
.bm-slider::before {
  position: absolute;
  top: -10px;
  right: 0;
  bottom: -10px;
  left: 0;
  content: '';
}
.bm-slider__bar {
  position: relative;
  height: 2px;
  background-color: #12a3ff;
  border-radius: inherit;
  transition: width 0.2s;
}
.bm-slider__button {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.bm-slider__button-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(50%, -50%, 0);
  cursor: grab;
}
.bm-slider--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.bm-slider--disabled .van-slider__button-wrapper {
  cursor: not-allowed;
}
.bm-slider--vertical {
  display: inline-block;
  width: 2px;
  height: 100%;
}
.bm-slider--vertical .van-slider__button-wrapper {
  top: auto;
  bottom: 0;
  transform: translate3d(50%, 50%, 0);
}
