.bm-tabs > li {
  float: left;
}
.bm-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
  color: #666666;
}
.bm-tabs > li > a:hover {
  color: #000;
}
.bm-tabs > li.active {
  background-color: #fff;
}
.bm-tabs > li.active > a,
.bm-tabs > li.active > a:hover {
  color: #000;
  cursor: default;
}
.bm-tabs-group {
  display: inline-block;
  vertical-align: middle;
}
.bm-tabs-group > span {
  display: inline-block;
  text-align: center;
  border: 1px solid #12a3ff;
  line-height: 30px;
  background-color: #fff;
  padding: 0 10px;
  cursor: pointer;
}
.bm-tabs-group > span.active {
  background-color: #12a3ff;
  color: #fff;
}
.bm-tabs-group > span:last-child {
  border-left: none;
}
.bm-tabs-group--lg > span {
  line-height: 36px;
  padding: 0 20px;
}
.bm-tabs-custom {
  margin-bottom: 0px;
  background-color: #e2e5ec;
}
.bm-tabs-custom > .bm-tabs {
  margin: 0;
  height: 40px;
}
.bm-tabs-custom > .bm-tabs > li {
  margin-top: 11px;
  margin-right: 5px;
  margin-left: 5px;
}
.bm-tabs-custom > .bm-tabs > li > a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 6px 10px;
  min-width: 50px;
  text-align: center;
  background: transparent;
  margin: 0;
}
.bm-tabs-custom > .bm-tabs > li > a:hover {
  background: transparent;
  margin: 0;
}
.bm-tabs-content {
  background-color: #fff;
  height: calc(100% - 56px);
  padding: 5px;
  overflow: auto;
}
