body { 
	font-size: 14px;
	line-height: 1.42857143;
	font-family: Microsoft YaHei,SimSun;
	overflow: hidden;
}
fieldset, img { 
	border: 0; 
}
ol, ul { 
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 { 
	font-size: 100%; 
}
em { 
	font-style: normal; 
}
input, button, select, textarea { 
	outline: none; 
}
textarea { 
	resize: none; 
} 
p { 
	text-align: center;
	text-justify: distribute;
	word-wrap: break-word;
	margin: 0;
}
a {
  color: #000; 
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}
i {
	display: inline-block;
}
span {
	display: inline-block;
}
address,cite,code,em,th {
	font-weight: normal; 
	font-style: normal;
}
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
.pull-left {
	float: left!important;
}
.pull-right {
	float: right!important;
}
.hide {
	display: none!important;
}
.show {
	display: block!important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/**清除浮动**/
.clearfix { 
	clear: both; 
	*zoom: 1;
}
.clearfix:after { 
	display: block; 
	clear: both; 
	content: "\0020"; 
	visibility: hidden; 
	height: 0; 
}
.inline-block {
	display: inline-block;
}
.block {
	display: block;
}
.absolute {
	position: absolute;
}
.relative {
	position:relative;
}
.padding {
	padding: 10px;
}
.margin {
	margin: 10px;
}
.hidden {
	display: none!important;
}
.affix {
	position: fixed;
}
.none {
	display: none!important;
}
.v-middle {
	vertical-align: middle;
}
/*text*/
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #fff; 
}

/*定义滚动条轨道 内阴影+圆角*/ 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.2);
    background-color: #ddd; 
}