.bm-img-text {
  display: inline-block;
  vertical-align: top;
  line-height: 17px;
  margin: 5px;
}
.bm-img-text > p {
  text-align: left;
  color: #646566;
}
.bm-img-text > span {
  font-weight: bold;
}
.bm-img-text > small {
  color: #646566;
  font-size: 80%;
}
.bm-img > div {
  display: inline-block;
  border: 2px solid transparent;
  height: 30px;
  padding: 1px;
  vertical-align: middle;
}
.bm-img > div:hover {
  border: 2px solid #ddd;
}
.bm-img > div.active {
  border: 2px solid #ddd;
}
.bm-img > div > img {
  width: 30px;
  vertical-align: middle;
}
