@import "./../style/bm";

#root {
  width:100%;
  height: 100%;
  background-color: rgb(226, 229, 236);
}

.bm-stage {
  height: 100%;
  overflow: auto;

  & > div {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

.bm-text-header {
  line-height: 24px;
  margin-bottom: 5px;
  font-weight: bold;
}

.bm-zoom {
  line-height: 24px;
  height: 24px;
  width: 100%;

  & > span {
    vertical-align: middle;
  }

  & > img {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid transparent;
    border-radius: 2px;
  }

  & > img:hover {
    border: 2px solid #ddd;
  }
}

.bm-color-box {
  float: left;
  width: 23px;
  height: 23px;
  border: 1px solid #c8c9cc;
  border-radius: 2px;
}
