#root {
  width: 100%;
  height: 100%;
  background-color: #B5B7B6;
  overflow: auto;
}
.bm-stage {
  overflow: auto;
  background-color: #e2e5ec;
}
.bm-text-header {
  line-height: 24px;
  margin-bottom: 5px;
  font-weight: bold;
}
.bm-zoom {
  line-height: 38px;
  height: 38px;
  width: 100%;
}
.bm-zoom > div {
  display: inline-block;
  width: 24px;
}
.bm-zoom > div > span {
  text-align: center;
}
.bm-zoom > div > i {
  font-size: 24px;
  cursor: pointer;
  border: 1px solid transparent;
}
.bm-zoom > div > i:hover {
  border: 1px inset #ddd;
}
.bm-zoom > span {
  display: inline-block;
  width: 46px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}
.bm-color-box {
  float: left;
  width: 23px;
  height: 23px;
  border: 1px solid #c8c9cc;
  border-radius: 2px;
}
.bm-lump {
  display: flex;
}
.bm-lump > .icon {
  width: 36px;
  height: 40px;
}
.bm-lump > .icon > img {
  width: 36px;
  height: 40px;
}
.bm-lump > .text {
  flex: 1;
  height: 32px;
  line-height: 16px;
  padding: 4px 5px;
  font-size: 11px;
}
.bm-lump > .text > p {
  color: #3f3f3f;
  font-size: 11px;
}
.bm-lump > .text > span {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
.bm-lump > .text > small {
  font-size: 11px;
  color: #484848;
}
.conf-list > li {
  min-width: 80px;
  line-height: 24px;
}
.conf-list > li > input {
  vertical-align: middle;
  margin-top: -1px;
  margin-right: 2px;
}
.bm-vessel {
  position: relative;
  background-size: 100% auto;
  box-shadow: 1px 1px 10px rgba(25, 186, 139, 0.17);
}
.bm-vessel:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  border-top: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.bm-vessel:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  border-top: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
.bm-vessel > .bm-foot:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  border-bottom: 2px solid #02a6b5;
  border-left: 2px solid #02a6b5;
}
.bm-vessel > .bm-foot:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  border-bottom: 2px solid #02a6b5;
  border-right: 2px solid #02a6b5;
}
.group-sm {
  line-height: 34px;
  display: flex;
}
.group-sm > input {
  flex: 1;
  padding: 0 0 0 5px;
}
.group-sm > span {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.bm-line {
  border-top: 1px solid #dcdee0;
  height: 10px;
  margin-top: 10px;
}
.bm-bind {
  display: flex;
  height: 40px;
}
.bm-bind > .text {
  flex: 1;
}
.bm-bind > .icon {
  width: 85px;
  cursor: pointer;
}
.bm-bind > .icon > span {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #dcdee0;
  user-select: none;
}
.bm-bind > .icon > span:first-child {
  width: 37px;
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.bm-bind > .icon > span:last-child {
  width: 37px;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.bm-bind > .icon > span.active {
  border: 1px solid #12a3ff;
  background-color: #12a3ff;
  color: #fff;
}
.bm-bind > .icon > img {
  height: 38px;
  vertical-align: top;
}
.bm-device-point {
  display: flex;
}
.bm-device-point > .device-list {
  flex: 1;
}
.bm-device-point > .point-list {
  display: none;
  width: 180px;
  padding-left: 5px;
}
.bm-device-point ul {
  max-height: 150px;
  overflow: auto;
  padding-right: 1px;
}
.bm-area {
  position: relative;
  border: 1px inset #dcdee0;
  margin: 20px 5px;
}
.bm-area > span {
  position: absolute;
  top: -8px;
  background-color: #fff;
  margin-left: 10px;
  padding: 0 5px;
  font-weight: bold;
  font-size: 15px;
}
.bm-area > div {
  padding: 10px;
  height: 38px;
}
.bm-help {
  position: fixed;
  bottom: 15px;
  left: 12px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.bm-style {
  display: flex;
  border-bottom: 1px solid #F5F5F5;
  padding: 1px 0px;
}
.bm-style > .text {
  line-height: 38px;
  text-align: right;
  padding: 0px 10px;
}
.bm-style > .value {
  flex: 1;
  text-align: left;
  line-height: 38px;
}
.bm-style > .value > i {
  font-size: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  color: #12a3ff;
}
.bm-style > .value > i:hover {
  border: 1px solid #ebedf0;
}
.bm-font-group > span {
  border: 1px solid #ddd;
  line-height: 18px;
  width: 20px;
  text-align: center;
  cursor: pointer;
}
.bm-font-group > span.active {
  background-color: #12a3ff;
  border: 1px solid #12a3ff;
  color: #fff;
}
.bm-font-group > span:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-weight: bold;
  font-family: Times, serif;
}
.bm-font-group > span:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-style: italic;
  font-family: Times, serif;
  border-left: none;
}
.bm-lock {
  position: absolute;
  right: -8px;
  top: -8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}
.bm-resizable-n {
  border-top: 1px dashed #000;
  width: auto;
  height: 10px;
  left: -9px;
  top: -10px;
  right: -9px;
}
.bm-resizable-n > .n {
  content: "";
  left: 50%;
  top: -6px;
  margin-left: -6px;
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 1px #000;
  background-color: #fff;
  cursor: n-resize;
}
.bm-resizable-e {
  border-right: 1px dashed #000;
  width: 10px;
  bottom: -9px;
  right: -10px;
  top: -9px;
  height: auto;
}
.bm-resizable-e > .e {
  content: "";
  width: 10px;
  height: 10px;
  border: solid 1px #000;
  top: 50%;
  right: -6px;
  margin-top: -6px;
  position: absolute;
  background-color: #fff;
  cursor: e-resize;
}
.bm-resizable-s {
  border-bottom: 1px dashed #000;
  width: auto;
  height: 10px;
  left: -9px;
  bottom: -10px;
  right: -9px;
}
.bm-resizable-s > .s {
  content: "";
  width: 10px;
  height: 10px;
  border: solid 1px #000;
  left: 50%;
  bottom: -6px;
  margin-left: -6px;
  position: absolute;
  background-color: #fff;
  cursor: s-resize;
}
.bm-resizable-w {
  border-left: 1px dashed #000;
  width: 10px;
  height: auto;
  left: -10px;
  top: -9px;
  bottom: -9px;
}
.bm-resizable-w > .w {
  content: "";
  width: 10px;
  height: 10px;
  border: solid 1px #000;
  left: -6px;
  top: 50%;
  margin-top: -6px;
  position: absolute;
  background-color: #fff;
  cursor: w-resize;
}
.bm-resizable-ne {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: solid 1px #000;
  border-radius: 50%;
  right: -15px;
  top: -15px;
  cursor: ne-resize;
}
.bm-resizable-se {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: solid 1px #000;
  border-radius: 50%;
  right: -15px;
  bottom: -15px;
  cursor: se-resize;
}
.bm-resizable-sw {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: solid 1px #000;
  border-radius: 50%;
  left: -15px;
  bottom: -15px;
  cursor: sw-resize;
}
.bm-resizable-nw {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: solid 1px #000;
  border-radius: 50%;
  left: -15px;
  top: -15px;
  cursor: nw-resize;
}
.bm-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}
