@import "./../style/bm";

#root {
  width:100%;
  height: 100%;
  background-color: #B5B7B6;
  overflow: auto;
}

.bm-stage {
  overflow: auto;
  background-color: #e2e5ec;
}

.bm-text-header {
  line-height: 24px;
  margin-bottom: 5px;
  font-weight: bold;
}

.bm-zoom {
  line-height: 24px;
  height: 24px;
  width: 100%;

  & > div {
    display: inline-block;
    width: 30px;
    text-align: center;

    & > i {
      font-size: 24px;
      cursor: pointer;
      border: 1px solid transparent;
      &:hover {
        border: 1px inset #ddd;
      }
    }
  }


  & > span {
    display: inline-block;
    width: 46px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
  }
}

.bm-color-box {
  float: left;
  width: 23px;
  height: 23px;
  border: 1px solid #c8c9cc;
  border-radius: 2px;
}

.bm-lump {
  display: flex;

  & > .icon {
    width: 36px;
    height: 40px;

    & > img {
      width: 36px;
      height: 40px;
    }
  }

  & > .text {
    flex: 1;
    height: 32px;
    line-height: 16px;
    padding: 4px 5px;
    font-size: 11px;

    & > p {
      color: #3f3f3f;
      font-size: 11px;
    }

    & > span {
      color: #000;
      font-weight: bold;
      font-size: 16px;
    }

    & > small {
      font-size: 11px;
      color: #484848;
    }
  }
}

.conf-list {
  & > li {
    min-width: 80px;
    line-height: 24px;
    & > input {
      vertical-align: middle;
      margin-top: -1px;
      margin-right: 2px;
    }
  }
}

.bm-vessel {
  position: relative;
  background-size: 100% auto;
  box-shadow: 1px 1px 10px rgba(25,186,139,.17);

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: .5rem;
    content: "";
    border-top: 2px solid #02a6b5;
    border-left: 2px solid #02a6b5;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: .5rem;
    height: .5rem;
    content: "";
    border-top: 2px solid #02a6b5;
    border-right: 2px solid #02a6b5;
  }

  & > .bm-foot {
    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: .5rem;
      height: .5rem;
      content: "";
      border-bottom: 2px solid #02a6b5;
      border-left: 2px solid #02a6b5;
    }

    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      width: .5rem;
      height: .5rem;
      content: "";
      border-bottom: 2px solid #02a6b5;
      border-right: 2px solid #02a6b5;
    }
  }
}

.group-sm {
  line-height: 34px;
  display: flex;

  & > input {
    flex: 1;
    padding: 0 0 0 5px;
  }

  & > span {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.bm-line {
  border-top: 1px solid #ddd;
  height: 10px;
  margin-top: 10px;
}

.bm-bind {
  display: flex;
  height: 40px;

  & > .text {
    flex: 1
  }

  & > .icon {
    width: 85px;
    cursor: pointer;

    & > span {
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border: 1px solid #ddd;
      user-select: none;
    }

    & > span:first-child {
      width: 37px;
      border-right: none;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    & > span:last-child {
      width: 37px;
      border-left: none;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    & > span.active {
      border: 1px solid #12a3ff;
      background-color: #12a3ff;
      color: #fff;
    }

    & > img {
      height: 38px;
      vertical-align: top;
    }
  }
}

.bm-device-point {
  display: flex;

  & > .device-list {
    flex: 1;
  }

  & > .point-list {
    display: none;
    width: 180px;
    padding-left: 5px;
  }

  & ul {
    max-height: 150px;
    overflow: auto;
    padding-right: 1px;
  }
}

.bm-area {
  position: relative;
  border: 1px inset #D4D4D4;
  margin: 10px 5px;

  & > span {
    position: absolute;
    top: -8px;
    background-color: #fff;
    margin-left: 10px;
    padding: 0 5px;
    font-weight: bold;
  }

  & > div {
    padding: 10px;
    height: 38px;
  }
}

.bm-help {
  position: fixed;
  bottom: 15px;
  left: 12px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
