html {
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
}
fieldset,
img {
  border: 0;
}
a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}
a:focus,
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
button,
select,
textarea {
  color: inherit;
  font: inherit;
  outline: none;
}
textarea {
  resize: none;
}
p {
  text-justify: distribute;
  word-wrap: break-word;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}
html {
  line-height: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  vertical-align: middle;
}
q,
blockquote {
  quotes: none;
}
q::before,
q::after,
blockquote::before,
blockquote::after {
  content: '';
  content: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
* {
  box-sizing: content-box;
}
body {
  color: #000;
  font-family: Arial, Helvetica, 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
  background: transparent;
}
button,
input[type='number'],
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
select,
textarea {
  margin: 0;
  font-family: inherit;
  -webkit-appearance: none;
}
html,
body {
  height: 100%;
  font-size: 14px;
  font-family: Microsoft YaHei sans-serif;
  overflow: hidden;
}
i,
span {
  display: inline-block;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #ebedf0;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  background-color: #c8c9cc;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.affix {
  position: fixed;
}
/*text*/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
/**font 字体**/
@font-face {
  font-family: 'lcdD';
  src: url('../fonts/lcdD.ttf?afd1x4') format('truetype');
}
@font-face {
  font-family: 'fontIcon';
  src: url('../fonts/font.ttf?afd1x4') format('truetype');
}
.fa {
  display: inline-block;
  font-family: fontIcon;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-sm {
  font-size: 24px;
}
.fa-base:before {
  content: "\e90d";
}
.fa-water:before {
  content: "\e900";
}
.fa-env:before {
  content: "\e901";
}
.fa-air:before {
  content: "\e902";
}
.fa-power:before {
  content: "\e903";
}
.fa-led:before {
  content: "\e904";
}
.fa-security:before {
  content: "\e90c";
}
.fa-gf:before {
  content: "\e90e";
}
.fa-save:before {
  content: "\e905";
}
.fa-back:before {
  content: "\e906";
}
.fa-remove:before {
  content: "\e907";
}
.fa-copy:before {
  content: "\e90f";
}
.fa-uplock:before {
  content: "\e910";
}
.fa-lock:before {
  content: "\e911";
}
.fa-align-left:before {
  content: "\e908";
}
.fa-align-down:before {
  content: "\e909";
}
.fa-align-right:before {
  content: "\e90a";
}
.fa-align-up:before {
  content: "\e90b";
}
.fa-icon-assist:before {
  content: "\e913";
}
.fa-icon-device:before {
  content: "\e914";
}
.fa-icon-conf:before {
  content: "\e915";
}
/**布局**/
.bm-layout {
  height: 100%;
}
.bm-layout__header {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background-color: #323233;
  color: #fff;
  display: flex;
}
.bm-layout__header__back {
  cursor: pointer;
  width: 60px;
  text-align: center;
  background-color: #323233;
}
.bm-layout__header__back > img {
  width: 30px;
  vertical-align: middle;
}
.bm-layout__header__name {
  font-size: 18px;
  text-align: center;
  flex: 1;
  vertical-align: top;
}
.bm-layout__header__view {
  width: 60px;
  text-align: center;
}
.bm-layout__header__view > img {
  width: 30px;
  vertical-align: middle;
  cursor: pointer;
}
.bm-layout__main {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  -webkit-user-select: none;
}
.bm-layout__main__left {
  width: 240px;
  height: 100%;
  background-color: #f0f2f3;
}
.bm-layout__main__body {
  flex: 1;
  height: 100%;
  overflow: auto;
}
.bm-layout__main__right {
  width: 240px;
  height: 100%;
  background-color: #f0f2f3;
}
.bm-layout__floor {
  line-height: 40px;
  background-color: #ebedf0;
  border-top: 1px solid #c8c9cc;
}
/**舞台**/
#root {
  width: 100%;
  height: 100%;
  background-color: #e2e5ec;
}
.bm-stage {
  height: 100%;
  overflow: auto;
}
.bm-stage > div {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.bm-text-header {
  line-height: 24px;
  margin-bottom: 5px;
  font-weight: bold;
}
.bm-zoom {
  line-height: 24px;
  height: 24px;
  width: 100%;
}
.bm-zoom > span {
  vertical-align: middle;
}
.bm-zoom > img {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid transparent;
  border-radius: 2px;
}
.bm-zoom > img:hover {
  border: 2px solid #ddd;
}
.bm-color-box {
  float: left;
  width: 23px;
  height: 23px;
  border: 1px solid #c8c9cc;
  border-radius: 2px;
}
.bm-lump {
  display: flex;
}
.bm-lump > .icon {
  width: 36px;
  height: 40px;
}
.bm-lump > .icon > img {
  width: 36px;
  height: 40px;
}
.bm-lump > .text {
  flex: 1;
  height: 32px;
  line-height: 16px;
  padding: 4px 5px;
  font-size: 11px;
}
.bm-lump > .text > p {
  color: #3f3f3f;
  font-size: 11px;
}
.bm-lump > .text > span {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
.bm-lump > .text > small {
  font-size: 11px;
  color: #484848;
}
/**侧面导航**/
.bm-side {
  display: inline-block;
  width: 44px;
  height: 100%;
  background-color: #A9ADB0;
  font-size: 15px;
  text-align: center;
}
.bm-side > li {
  width: 24px;
  padding: 20px 10px;
  text-align: center;
  cursor: pointer;
  color: #000;
}
.bm-side > li > p {
  margin-top: 2px;
}
.bm-side > li.active {
  background-color: #f0f2f3;
  color: #000;
}
.bm-side > li:not(.active):hover {
  background-color: #12a3ff;
  color: #fff;
}
/**tabs**/
.bm-tabs > li {
  float: left;
}
.bm-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
.bm-tabs > li > a:hover {
  color: #000;
}
.bm-tabs > li.active > a,
.bm-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  border-bottom: 2px solid #12a3ff;
}
.bm-tabs-group {
  display: inline-block;
  vertical-align: middle;
}
.bm-tabs-group > span {
  display: inline-block;
  text-align: center;
  border: 1px solid #12a3ff;
  line-height: 30px;
  background-color: #fff;
  padding: 0 10px;
  cursor: pointer;
}
.bm-tabs-group > span.active {
  background-color: #12a3ff;
  color: #fff;
}
.bm-tabs-group > span:last-child {
  border-left: none;
}
.bm-tabs-custom {
  margin-bottom: 0px;
}
.bm-tabs-custom > .bm-tabs {
  margin: 0;
  height: 45px;
}
.bm-tabs-custom > .bm-tabs > li {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.bm-tabs-custom > .bm-tabs > li > a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 5px 10px;
  min-width: 50px;
  text-align: center;
  font-size: 15px;
  background: transparent;
  margin: 0;
}
.bm-tabs-custom > .bm-tabs > li > a:hover {
  background: transparent;
  margin: 0;
}
.bm-tabs-custom > .bm-tabs > li:not(.active) > a:hover,
.bm-tabs-custom > .bm-tabs > li:not(.active) > a:active {
  border-color: transparent;
}
.bm-tabs-content {
  background-color: #fff;
  height: calc(100% - 56px);
  padding: 5px;
  border: 1px solid #f0f2f3;
  overflow: auto;
}
/**组件列表**/
.bm-component-list {
  display: inline-block;
  width: 171px;
  vertical-align: top;
  height: calc(100% - 20px);
  padding: 10px;
  overflow: auto;
}
.bm-component-list > div {
  text-align: center;
  margin-bottom: 20px;
  width: 80px;
  display: inline-block;
}
.bm-component-list > div > img {
  max-width: 50px;
  cursor: move;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 2px;
}
.bm-component-list > div > img:hover {
  border: 2px solid #12a3ff;
}
.bm-list > li {
  line-height: 30px;
  margin: 1px;
  border: 1px solid #dcdee0;
  padding: 3px 5px;
  display: flex;
}
.bm-list > li > .text {
  flex: 1;
}
.bm-list > li > .value > img {
  width: 18px;
  vertical-align: middle;
}
.bm-list > li:hover {
  background-color: #f7f8fa;
  cursor: pointer;
}
.bm-list > li.active {
  border: 1px solid #12a3ff;
}
/**按钮**/
.bm-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 32px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}
.bm-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-color: #000;
  border-radius: inherit;
  /* inherit parent's border radius */
  transform: translate(-50%, -50%);
  opacity: 0;
  content: ' ';
}
.bm-button:hover {
  opacity: 0.8;
}
.bm-button:active::before {
  opacity: 0.1;
}
.bm-button--loading::before,
.bm-button--disabled::before {
  display: none;
}
.bm-button--default {
  color: #323233;
  background-color: #fff;
  border: 1px solid #ebedf0;
}
.bm-button--primary {
  color: #fff;
  background-color: #07c160;
  border: 1px solid #07c160;
}
.bm-button--info {
  color: #fff;
  background-color: #12a3ff;
  border: 1px solid #12a3ff;
}
.bm-button--danger {
  color: #fff;
  background-color: #ee0a24;
  border: 1px solid #ee0a24;
}
.bm-button--warning {
  color: #fff;
  background-color: #ff976a;
  border: 1px solid #ff976a;
}
.bm-button--plain {
  background-color: #fff;
}
.bm-button--plain.van-button--primary {
  color: #07c160;
}
.bm-button--plain.van-button--info {
  color: #12a3ff;
}
.bm-button--plain.van-button--danger {
  color: #ee0a24;
}
.bm-button--plain.van-button--warning {
  color: #ff976a;
}
.bm-button--large {
  width: 100%;
  height: 50px;
  line-height: 48px;
}
.bm-button--normal {
  padding: 0 15px;
  font-size: 14px;
}
.bm-button--small {
  min-width: 60px;
  height: 30px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
}
.bm-button__loading {
  display: inline-block;
  color: inherit;
  vertical-align: top;
}
.bm-button--mini {
  display: inline-block;
  min-width: 50px;
  height: 22px;
  font-size: 10px;
  line-height: 20px;
}
.bm-button--mini + .van-button--mini {
  margin-left: 5px;
}
.bm-button--block {
  display: block;
  width: 100%;
}
.bm-button--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.bm-button--loading {
  cursor: default;
}
.bm-button--round {
  border-radius: 999px;
}
.bm-button--square {
  border-radius: 0;
}
.bm-button__icon {
  min-width: 1em;
  font-size: 1.2em;
  line-height: inherit;
  vertical-align: top;
}
.bm-button__icon + .bm-button__text,
.bm-button__loading + .bm-button__text {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}
.bm-button--hairline {
  border-width: 0;
}
.bm-button--hairline::after {
  border-color: inherit;
  border-radius: 4px;
}
.bm-button--hairline.van-button--round::after {
  border-radius: 999px;
}
.bm-button--hairline.van-button--square::after {
  border-radius: 0;
}
.button {
  color: #666;
  background-color: #EEE;
  border-color: #EEE;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.button:visited {
  color: #666;
}
.button:hover,
.button:focus {
  background-color: #f6f6f6;
  text-decoration: none;
  outline: none;
}
.button:active,
.button.active,
.button.is-active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  background-color: #eeeeee;
  border-color: #cfcfcf;
  color: #d4d4d4;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button.disabled,
.button.is-disabled,
.button:disabled {
  top: 0 !important;
  background: #EEE !important;
  border: 1px solid #DDD !important;
  text-shadow: 0 1px 1px white !important;
  color: #CCC !important;
  cursor: default !important;
  appearance: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  opacity: 0.8 !important;
}
.button-raised {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e1e1e1));
  background: linear-gradient(#f6f6f6, #e1e1e1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
}
.button-raised:hover,
.button-raised:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro));
  background: linear-gradient(top, white, gainsboro);
}
.button-raised:active,
.button-raised.active,
.button-raised.is-active {
  background: #eeeeee;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
}
.button-raised.button-primary {
  border-color: #088ef0;
  background: -webkit-gradient(linear, left top, left bottom, from(#34a5f8), to(#088ef0));
  background: linear-gradient(#34a5f8, #088ef0);
}
.button-raised.button-default {
  border-color: #b7b7b7;
  background: -webkit-gradient(linear, left top, left bottom, from(#b7b7b7), to(#ddd));
  background: linear-gradient(#b7b7b7, #ddd);
}
.button-primary {
  background-color: #1B9AF7;
  border-color: #1B9AF7;
  color: #FFF;
}
.button-default {
  background-color: #ddd;
  border-color: #ddd;
  color: #000;
  padding: 3px 5px;
  font-size: 11px;
  min-width: 60px;
}
.button-pill {
  border-radius: 20px;
}
/**cell单元格**/
.bm-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  cursor: pointer;
}
.bm-cell:hover {
  background-color: #f7f8fa;
}
.bm-cell > span {
  display: inline-block;
  border-left: 2px solid transparent;
  margin-right: 5px;
}
.bm-cell > span.active {
  border-left: 2px solid #ee0a24;
}
.bm-cell:not(:last-child)::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ebedf0;
  transform: scaleY(0.5);
}
.bm-cell--borderless::after {
  display: none;
}
.bm-cell__label {
  margin-top: 3px;
  color: #969799;
  font-size: 12px;
  line-height: 18px;
}
.bm-cell__title,
.bm-cell__value {
  flex: 1;
}
.bm-cell > img {
  width: 20px;
  margin-top: 2px;
}
.bm-cell__value {
  position: relative;
  overflow: hidden;
  text-align: right;
  vertical-align: middle;
  word-wrap: break-word;
}
.bm-cell__value--alone {
  color: #323233;
  text-align: left;
}
.bm-cell__left-icon,
.bm-cell__right-icon {
  min-width: 1em;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
}
.bm-cell__left-icon {
  margin-right: 5px;
}
.bm-cell__right-icon {
  margin-left: 5px;
  color: #969799;
}
.bm-cell--clickable {
  cursor: pointer;
}
.bm-cell--clickable:active {
  background-color: #f2f3f5;
}
.bm-cell--required {
  overflow: visible;
}
.bm-cell--required::before {
  position: absolute;
  left: 10px;
  color: #ee0a24;
  font-size: 14px;
  content: '*';
}
.bm-cell--center {
  align-items: center;
}
.bm-cell--large {
  padding-top: 15px;
  padding-bottom: 15px;
}
.bm-cell--large .van-cell__title {
  font-size: 16px;
}
.bm-cell--large .van-cell__label {
  font-size: 14px;
}
.no-hover:hover {
  background-color: #fff;
}
/**tree**/
.bm-tree {
  line-height: 24px;
  padding: 5px;
  margin-bottom: 1px;
  cursor: pointer;
  background-color: #f2f3f5;
  font-weight: bold;
}
.bm-tree > div {
  display: inline-block;
  width: 10px;
}
/**键值对**/
.bm-kv {
  display: inline-block;
  line-height: 24px;
  padding: 5px;
  font-size: 12px;
}
.bm-kv__text {
  min-width: 40px;
  text-align: left;
}
.bm-kv__value {
  min-width: 40px;
  text-align: left;
}
/**上传**/
.bm-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 3px 0px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #07c160;
  border-radius: 2px;
  width: 100%;
}
.bm-upload > span {
  color: #fff;
}
.bm-upload > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
/**select**/
.bm-select {
  width: calc(100% - 12px);
  border: 1px solid #c8c9cc;
  padding: 7px 5px;
  cursor: pointer;
  font-size: 15px;
  -webkit-appearance: button;
}
.bm-select:focus {
  border-color: #12a3ff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/**搜索框**/
.bm-search {
  position: relative;
}
.bm-search > input {
  line-height: 28px;
  border: 1px solid #12a3ff;
  padding-left: 5px;
  padding-right: 25px;
  width: calc(100% - 32px);
}
.bm-search > img {
  position: absolute;
  top: 8px;
  right: 8px;
}
/**面板**/
/****/
.bm-global-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  user-select: none;
  cursor: move;
}
.bm-global-panel > img {
  width: 30px;
  pointer-events: none;
}
/****/
.bm-configur-panel {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
}
.bm-configur-panel__body {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  background-color: #fff;
  margin: auto;
  box-shadow: 1px 1px 10px #000;
}
.bm-configur-panel__header {
  line-height: 24px;
  padding: 5px;
  border-bottom: 1px solid #ebedf0;
  font-size: 16px;
}
.bm-configur-panel__close {
  float: right;
  font-size: 22px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: -5px;
  margin-right: -5px;
}
.bm-configur-panel__close:hover {
  color: #12a3ff;
}
.bm-configur-panel__content {
  position: relative;
  padding: 10px;
  height: calc(100% - 105px);
}
.bm-configur-panel__floor {
  text-align: right;
  padding: 0 10px;
  line-height: 44px;
  border-top: 1px solid #ebedf0;
}
.bm-configur-panel__floor > div {
  width: 80px;
}
.bm-configur-panel .bind-device {
  display: flex;
  height: calc(100% - 50px);
}
.bm-configur-panel .bind-device .device-list {
  flex: 1;
  margin-top: 5px;
  height: calc(100% - 36px);
}
.bm-configur-panel .bind-device .device-list > ul {
  height: 100%;
  overflow: auto;
}
.bm-configur-panel .bind-device .device-list > ul > li.active {
  background-color: #12a3ff;
  color: #fff;
}
.bm-configur-panel .bind-device .point-list {
  width: 120px;
  margin-top: 5px;
  height: 100%;
  overflow: auto;
  margin-left: 5px;
}
/**视图面板**/
.bm-view-panel {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ebedf0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #323233;
}
.bm-view-panel__title {
  line-height: 29px;
  border-bottom: 1px solid #dcdee0;
  padding-left: 5px;
}
.bm-view-panel__content {
  max-height: 300px;
  overflow: auto;
  padding: 5px;
}
.bm-view-panel__content li {
  line-height: 30px;
  border: 1px solid #dcdee0;
  display: flex;
}
.bm-view-panel__content li:not(:last-child) {
  border-bottom: none;
}
.bm-view-panel__content li > .text {
  flex: 1;
  background-color: #f7f8fa;
  padding-right: 5px;
  text-align: right;
}
.bm-view-panel__content li > .value {
  flex: 1;
  padding: 0px 5px;
}
.bm-view-panel__content li > .value > small {
  font-size: 8px;
  font-weight: 100;
}
.bm-view-panel__content li > .value > span {
  font-weight: bold;
}
/**下拉面板**/
.bm-select-panel {
  position: relative;
  margin-bottom: 5px;
}
.bm-select-panel > span {
  padding: 3px 5px;
  border: 1px solid #ddd;
  line-height: 30px;
  width: calc(100% - 12px);
  cursor: pointer;
  user-select: none;
}
.bm-select-panel > span > img {
  float: right;
  width: 12px;
  margin-top: 10px;
}
.bm-select-panel > div {
  display: none;
  position: absolute;
  top: 39px;
  margin-top: -2px;
  background-color: #fff;
  width: calc(100% - 2px);
  border: 1px solid #ebedf0;
}
.bm-select-panel > div > ul {
  max-height: 240px;
  overflow: auto;
  padding: 5px;
}
.bm-select-panel > div > ul > li {
  line-height: 24px;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #F5F5F5;
}
.bm-select-panel > div > ul > li:last-child {
  border-bottom: 1px solid transparent;
}
.bm-select-panel > div > ul > li:not(.active):hover {
  background-color: #f5f5f5;
}
.bm-select-panel > div > ul > li.active {
  background-color: #12a3ff;
  color: #fff;
}
.bm-select-panel > div > ul > li.no-data {
  text-align: center;
}
/**密码面板**/
.bm-password-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-radius: 2px;
  padding: 0px 5px;
  box-shadow: 0px 0px 2px #888888;
}
.bm-password-panel__shade {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
}
.bm-password-panel__content {
  margin: auto;
  width: 315px;
  height: 160px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -153px;
  border-radius: 2px;
}
.bm-password-panel__header {
  line-height: 40px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
.bm-password-panel__header > span {
  display: inline-block;
  float: right;
  font-weight: 100;
  font-size: 24px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}
.bm-password-panel__header > span:hover {
  color: #fff;
  background-color: #CC0000;
}
.bm-password-panel__input {
  margin: 10px 20px;
}
.bm-password-panel__input > input {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-text-security: disc;
  font-size: 18px;
  border: 1px solid #ddd;
}
.bm-password-panel__floor {
  line-height: 52px;
  border-top: 1px solid #ddd;
}
.bm-password-panel__floor > div {
  display: inline-block;
  width: calc(50% - 2px);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: -1px;
}
.bm-password-panel__floor > div:hover {
  background-color: #f7f8fa;
}
/**配置面板**/
.bm-config-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-radius: 2px;
  padding: 0px 5px;
}
.bm-config-panel__shade {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.bm-config-panel__content {
  position: relative;
  margin: auto;
  background-color: #b7b7b7;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -153px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #888;
  padding: 10px;
}
.bm-config-panel__content > .text {
  position: absolute;
  top: 3px;
  left: 18px;
  background-color: #b7b7b7;
  display: block;
  padding: 0 2px;
  text-align: center;
}
.bm-config-panel__content > .content {
  padding: 10px;
  border: 1px inset #fff;
  font-size: 11px;
  padding-bottom: 5px;
}
.bm-config-panel__content > .content > div {
  margin-bottom: 2px;
}
.bm-selected-panel {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #12a3ff;
  opacity: 0.5;
}
/**图片文字**/
.bm-img-text {
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  margin: 5px;
}
.bm-img-text > p {
  text-align: left;
  color: #646566;
}
.bm-img-text > span {
  font-weight: bold;
}
.bm-img-text > small {
  color: #646566;
  font-size: 80%;
}
.bm-img > div {
  display: inline-block;
  border: 2px solid transparent;
  height: 30px;
  padding: 1px;
  vertical-align: middle;
}
.bm-img > div:hover {
  border: 2px solid #ddd;
}
.bm-img > div.active {
  border: 2px solid #ddd;
}
.bm-img > div > img {
  width: 30px;
  vertical-align: middle;
}
/**方向盘**/
.vision-btn {
  position: absolute;
  right: 30px;
  top: 60px;
  z-index: 999;
}
.bm-direction {
  width: 60px;
  height: 60px;
  border: 0;
  background-color: #fff;
  border-radius: 30px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.bm-direction--top,
.bm-direction--bottom {
  width: 100%;
  text-align: center;
}
.bm-direction--top,
.bm-direction--bottom,
.bm-direction--left,
.bm-direction--right {
  height: 19px;
  cursor: pointer;
  margin-bottom: 0;
  float: left;
}
.bm-direction--top > img,
.bm-direction--bottom > img,
.bm-direction--left > img,
.bm-direction--right > img {
  width: 14px;
  vertical-align: middle;
}
.bm-direction--left,
.bm-direction--right {
  width: 14px;
  height: 22px;
}
.bm-direction--top {
  margin-top: 0px;
}
.bm-direction--left {
  margin-left: 0px;
  margin-top: 2px;
}
.bm-direction--right {
  float: right;
  margin-right: 0px;
  margin-top: 2px;
}
/**联动块**/
.bm-linkage__content {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 5px 0;
}
.bm-linkage__left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.bm-linkage__right {
  width: 226px;
  margin-left: 5px;
}
.bm-linkage__list {
  padding: 10px;
}
.bm-linkage__item {
  line-height: 24px;
  background-color: #f7f8fa;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
}
.bm-linkage__item.active {
  background-color: #12a3ff;
  color: #fff;
}
.bm-linkage__item:not(.active):hover {
  background-color: #c8c9cc;
  color: #000;
}
/**form表单**/
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.form-control {
  display: block;
  width: calc(100% - 10px*2);
  height: 1.42857143;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #000;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
.form-control:focus {
  border-color: #12a3ff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input[type="search"] {
  -webkit-appearance: none;
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
.input-sm {
  height: 36px;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 36px;
  line-height: 36px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.form-group-sm .form-control {
  height: 36px;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-group-sm select.form-control {
  height: 36px;
  line-height: 36px;
}
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}
.form-group-sm .form-control-static {
  height: 36px;
  min-height: 32px;
  padding: 9px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}
.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 36px;
  height: 36px;
  line-height: 36px;
}
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #717173;
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
/**title**/
.bm-tooltip {
  font-size: 12px;
  position: absolute;
  padding: 5px;
  z-index: 999999;
  opacity: 0.9;
  min-width: 50px;
}
.bm-tooltip__tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 6px dashed #ff976a;
  top: 0;
  left: 20%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}
.bm-tooltip__tipsy-arrow-n {
  border-bottom-color: #ff976a;
}
.bm-tooltip__tipsy-inner {
  background-color: #ff976a;
  color: #fff;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
}
/**context-menu**/
.bm-context-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 99999;
  border-radius: 4px;
  box-shadow: 0px 2px 5px #888;
}
.bm-context-menu > ul {
  padding: 5px 0px;
}
.bm-context-menu > ul > li {
  min-width: 180px;
  padding: 3px 5px;
  line-height: 24px;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
}
.bm-context-menu > ul > li > img {
  height: 14px;
  vertical-align: middle;
  margin-right: 3px;
  margin-top: -1px;
}
.bm-context-menu > ul > li > .text,
.bm-context-menu > ul > li .value {
  flex: 1;
}
.bm-context-menu > ul > li > .text > i {
  vertical-align: middle;
  margin-right: 2px;
}
.bm-context-menu > ul > li > .value {
  text-align: right;
}
.bm-context-menu > ul > li:not(:last-child) {
  border-bottom: 1px solid #f7f8fa;
}
.bm-context-menu > ul > li:hover {
  background-color: #12a3ff;
  color: #fff;
}
/**checkbox**/
.bm-checkbox {
  position: relative;
  height: 18px;
  margin-left: -1px;
}
.bm-checkbox > input {
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  opacity: 0;
}
.bm-checkbox > label {
  position: absolute;
  left: 24px;
  height: 16px;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
.bm-checkbox > label:before {
  content: '';
  position: absolute;
  left: -22px;
  width: 16px;
  height: 16px;
  border: 1px solid #c8c9cc;
  border-radius: 2px;
}
.bm-checkbox > label:after {
  content: '';
  position: absolute;
  left: -16px;
  top: 2px;
  width: 5px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.bm-checkbox > input:checked + label:before {
  background-color: #12a3ff;
  border-color: #12a3ff;
}
.bm-checkbox > input:checked + label:after {
  background-color: #12a3ff;
}
/**toast**/
.bm-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  z-index: 101;
  width: 90px;
  max-width: 70%;
  min-height: 90px;
  padding: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  text-align: center;
  word-wrap: break-word;
  background-color: rgba(50, 50, 51, 0.88);
  border-radius: 4px;
  transform: translate3d(-50%, -50%, 0);
}
.bm-toast--unclickable * {
  pointer-events: none;
}
.bm-toast--text,
.bm-toast--html {
  width: fit-content;
  min-width: 96px;
  min-height: unset;
  padding: 10px 15px;
}
.bm-toast--text .bm-toast__text,
.bm-toast--html .bm-toast__text {
  margin-top: 0;
}
.bm-toast--top {
  top: 50px;
}
.bm-toast--bottom {
  top: auto;
  bottom: 50px;
}
.bm-toast__icon {
  font-size: 40px;
}
.bm-toast__loading {
  padding: 5px;
  color: #fff;
}
.bm-toast__text {
  margin-top: 10px;
}
/**range**/
.bm-range {
  padding: 10px 0;
}
.bm-range > input {
  width: 100%;
  background-color: #1989fa;
  border-radius: 15px;
  -webkit-appearance: none;
  height: 2px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bm-range > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  position: relative;
  z-index: 10;
  cursor: grab;
}
.bm-range > p {
  margin-top: 10px;
}
