.bm-layout {
  height: 100%;
}
.bm-layout__header {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background-color: #023459;
  color: #fff;
  display: flex;
}
.bm-layout__header__back {
  cursor: pointer;
  width: 54px;
  text-align: center;
  background-color: #023459;
}
.bm-layout__header__back > i {
  font-size: 30px;
}
.bm-layout__header__name {
  flex: 1;
  font-size: 18px;
  text-align: center;
  vertical-align: top;
}
.bm-layout__header__view {
  width: 120px;
  text-align: right;
  padding: 0 10px;
}
.bm-layout__header__view > i {
  width: 40px;
  cursor: pointer;
  font-size: 24px;
}
.bm-layout__main {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  -webkit-user-select: none;
}
.bm-layout__main__left {
  width: 240px;
  height: 100%;
  background-color: #f0f2f3;
}
.bm-layout__main__body {
  flex: 1;
  height: 100%;
  overflow: hidden;
  background-color: #B5B7B6;
}
.bm-layout__main__right {
  width: 240px;
  height: 100%;
  background-color: #f0f2f3;
}
.bm-layout__floor {
  line-height: 40px;
  background-color: #ebedf0;
  border-top: 1px solid #c8c9cc;
}
