.bm-kv {
  display: inline-block;
  line-height: 24px;
  padding: 5px;
  font-size: 12px;
}
.bm-kv__text {
  min-width: 40px;
  text-align: left;
}
.bm-kv__value {
  min-width: 40px;
  text-align: left;
}
