.bm-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 32px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}
.bm-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-color: #000;
  border-radius: inherit;
  /* inherit parent's border radius */
  transform: translate(-50%, -50%);
  opacity: 0;
  content: ' ';
}
.bm-button:hover {
  opacity: 0.8;
}
.bm-button:active::before {
  opacity: 0.1;
}
.bm-button--loading::before,
.bm-button--disabled::before {
  display: none;
}
.bm-button--default {
  color: #323233;
  background-color: #fff;
  border: 1px solid #ebedf0;
}
.bm-button--primary {
  color: #fff;
  background-color: #07c160;
  border: 1px solid #07c160;
}
.bm-button--info {
  color: #fff;
  background-color: #12a3ff;
  border: 1px solid #12a3ff;
}
.bm-button--danger {
  color: #fff;
  background-color: #ee0a24;
  border: 1px solid #ee0a24;
}
.bm-button--warning {
  color: #fff;
  background-color: #ff976a;
  border: 1px solid #ff976a;
}
.bm-button--plain {
  background-color: #fff;
}
.bm-button--plain.van-button--primary {
  color: #07c160;
}
.bm-button--plain.van-button--info {
  color: #12a3ff;
}
.bm-button--plain.van-button--danger {
  color: #ee0a24;
}
.bm-button--plain.van-button--warning {
  color: #ff976a;
}
.bm-button--large {
  width: 100%;
  height: 50px;
  line-height: 48px;
}
.bm-button--normal {
  padding: 0 15px;
  font-size: 14px;
}
.bm-button--small {
  min-width: 60px;
  height: 30px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
}
.bm-button__loading {
  display: inline-block;
  color: inherit;
  vertical-align: top;
}
.bm-button--mini {
  display: inline-block;
  min-width: 50px;
  height: 22px;
  font-size: 10px;
  line-height: 20px;
}
.bm-button--mini + .van-button--mini {
  margin-left: 5px;
}
.bm-button--block {
  display: block;
  width: 100%;
}
.bm-button--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.bm-button--loading {
  cursor: default;
}
.bm-button--round {
  border-radius: 999px;
}
.bm-button--square {
  border-radius: 0;
}
.bm-button__icon {
  min-width: 1em;
  font-size: 1.2em;
  line-height: inherit;
  vertical-align: top;
}
.bm-button__icon + .bm-button__text,
.bm-button__loading + .bm-button__text {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}
.bm-button--hairline {
  border-width: 0;
}
.bm-button--hairline::after {
  border-color: inherit;
  border-radius: 4px;
}
.bm-button--hairline.van-button--round::after {
  border-radius: 999px;
}
.bm-button--hairline.van-button--square::after {
  border-radius: 0;
}
.button {
  color: #666;
  background-color: #EEE;
  border-color: #EEE;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.button:visited {
  color: #666;
}
.button:hover,
.button:focus {
  background-color: #f6f6f6;
  text-decoration: none;
  outline: none;
}
.button:active,
.button.active,
.button.is-active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  background-color: #eeeeee;
  border-color: #cfcfcf;
  color: #d4d4d4;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.button.disabled,
.button.is-disabled,
.button:disabled {
  top: 0 !important;
  background: #EEE !important;
  border: 1px solid #DDD !important;
  text-shadow: 0 1px 1px white !important;
  color: #CCC !important;
  cursor: default !important;
  appearance: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  opacity: 0.8 !important;
}
.button-raised {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e1e1e1));
  background: linear-gradient(#f6f6f6, #e1e1e1);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
}
.button-raised:hover,
.button-raised:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(gainsboro));
  background: linear-gradient(top, white, gainsboro);
}
.button-raised:active,
.button-raised.active,
.button-raised.is-active {
  background: #eeeeee;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white;
}
.button-raised.button-primary {
  border-color: #088ef0;
  background: -webkit-gradient(linear, left top, left bottom, from(#34a5f8), to(#088ef0));
  background: linear-gradient(#34a5f8, #088ef0);
}
.button-raised.button-default {
  border-color: #b7b7b7;
  background: -webkit-gradient(linear, left top, left bottom, from(#b7b7b7), to(#ddd));
  background: linear-gradient(#b7b7b7, #ddd);
}
.button-primary {
  background-color: #1B9AF7;
  border-color: #1B9AF7;
  color: #FFF;
}
.button-default {
  background-color: #ddd;
  border-color: #ddd;
  color: #000;
  padding: 3px 5px;
  font-size: 11px;
  min-width: 60px;
}
.button-pill {
  border-radius: 20px;
}
