@import "./../style/bm";
@import "./../style/mixins/calc";


/****/
.bm-global-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  user-select: none;
  cursor: move;

  & > img {
    width: 30px;
    pointer-events: none;
  }
}

/****/
.bm-configur-panel {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 998;

  &__body {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    background-color: @white;
    margin: auto;
    box-shadow: 1px 1px 10px @black;
  }

  &__header {
    line-height: @conf-panel-line-height;
    padding: @padding-base;
    border-bottom: 1px solid @gray-3;
    font-size: @font-size-lg;
  }

  &__close {
    float: right;
    font-size: @conf-panel-font-size;
    padding: @conf-panel-close-padding;
    cursor: pointer;
    margin-top: -5px;
    margin-right: -5px;
  }

  &__close:hover {
    color: @red;
  }

  &__content {
    position: relative;
    padding: 10px;
    .height-calc(105px);
  }

  &__floor {
    text-align: right;
    padding: @conf-panel-floor-padding;
    line-height: @conf-panel-floor-line-height;
    border-top: 1px solid @gray-3;

    & > div {
      width: 80px;
    }
  }

  .bind-device {
    display: flex;
    height: calc(100% - 50px);

    & .device-list {
      flex: 1;
      margin-top: 5px;
      height: calc(100% - 36px);

      & > ul {
        height: 100%;
        overflow: auto;

        & > li.active {
          background-color: #12a3ff;
          color: #fff;
        }
      }
    }

    & .point-list {
      width: 120px;
      margin-top: 5px;
      height: 100%;
      overflow: auto;
      margin-left: 5px;
    }
  }
}

/**视图面板**/
.bm-view-panel {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: @white;
  border: 1px solid @gray-3;
  border-radius: 2px;
  box-shadow: 0px 0px 2px @gray-8;

  &__title {
    line-height: 29px;
    border-bottom: 1px solid @gray-4;
    padding-left: 5px;
  }

  &__content {
    max-height: 300px;
    overflow: auto;
    padding: 5px;

    & li {
      line-height: 30px;
      border: 1px solid @gray-4;
      display: flex;
    }

    & li:not(:last-child) {
      border-bottom: none;
    }

    & li > .text {
      flex: 1;
      background-color: @gray-1;
      padding-right: 5px;
      text-align: right;
    }

    & li > .value {
      flex: 1;
      padding: 0px 5px;

      & > small {
        font-size: 8px;
        font-weight: 100;
      }

      & > span {
        font-weight: bold;
      }
    }
  }
}

/**下拉面板**/
.bm-select-panel {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  width: 100%;


  & > span {
    display: flex;
    border: 1px solid #ddd;
    cursor: pointer;
    user-select: none;
    line-height: 30px;

    & > .text {
      flex: 1;
      padding-right: 50px;
      padding-left: 5px;
    }

    & > .icon {
      width: 15px;
      line-height: 32px;
    }
  }

  & > div {
    display: none;
    position: absolute;
    top: 28px;
    margin-top: 3px;
    background-color: @white;
    width: calc(100% - 2px);
    border: 1px solid @gray-3;

    & > ul {
      max-height: 240px;
      overflow: auto;
      padding: 5px;

      & > li {
        line-height: 24px;

        cursor: pointer;
        padding: 3px 5px;
        border-bottom: 1px solid #F5F5F5;
      }

      & > li:last-child {
        border-bottom: 1px solid transparent;
      }

      & > li:not(.active):hover {
        background-color: #f5f5f5;
      }

      & > li.active {
        background-color: @blue;
        color: @white;
      }

      & > li.no-data {
        text-align: center;
      }
    }
  }
}

.bm-select-panel--lg {
  & > span {
    line-height: 36px;

    & > .icon {
      line-height: 36px;
    }
  }

  & > div {
    margin-top: 9px;

    & > ul > li {
      line-height: 30px;
    }
  }
}

/**输入下拉面板**/
.bm-input-panel {
  display: inline-block;
  position: relative;
  width: 100%;

  & > .form {
    display: flex;
    cursor: pointer;
    user-select: none;
    line-height: 30px;

    & > .text {
      flex: 1;
      padding-right: 50px;
      padding-left: 5px;
      line-height: 30px;
    }

    & > .icon {
      line-height: 30px;
      width: 15px;
    }
  }

  & > .input-group {
    width: 100%;
    position: relative;

    & > i {
      position: absolute;
      top: 0;
      right: 5px;
      line-height: 32px;
    }
  }

  & > .panel-content {
    display: none;
    position: absolute;
    top: 28px;
    margin-top: 4px;
    background-color: @white;
    width: calc(100% - 2px);
    border: 1px solid @gray-3;

    & > ul {
      max-height: 240px;
      overflow: auto;
      padding: 5px;

      & > li {
        line-height: 24px;

        cursor: pointer;
        padding: 3px 5px;
        border-bottom: 1px solid #F5F5F5;
      }

      & > li:last-child {
        border-bottom: 1px solid transparent;
      }

      & > li:not(.active):hover {
        background-color: #f5f5f5;
      }

      & > li.active {
        background-color: @blue;
        color: @white;
      }

      & > li.no-data {
        text-align: center;
      }
    }
  }
}

/**密码面板**/
.bm-password-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-radius: 2px;
  padding: 0px 5px;
  box-shadow: 0px 0px 2px #888888;

  &__shade {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
  }

  &__content {
    width: 325px;
    height: 160px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -153px;
    border-radius: 2px;
  }

  &__header {
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;

    & > span {
      display: inline-block;
      float: right;
      font-weight: 100;
      font-size: 24px;
      width: 40px;
      text-align: center;
      cursor: pointer;
    }

    & > span:hover {
      color: #fff;
      background-color: #CC0000;
    }
  }

  &__input {
    margin: 10px 20px;
    text-align: center;

    & > input {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      text-security: disc;
      -webkit-text-security: disc;
      -moz-text-security: disc;
      font-size: 18px;
      border: 1px solid #ddd;
    }
  }

  &__floor {
    line-height: 52px;
    border-top: 1px solid #ddd;

    & > div {
      display: inline-block;
      width: calc(50% - 2px);
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      margin-right: -1px;
    }

    & > div:hover {
      background-color: @gray-1;
    }
  }
}

/**配置面板**/
.bm-config-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-radius: 2px;
  padding: 0px 5px;

  &__shade {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__content {
    position: relative;
    margin: auto;
    background-color: #b7b7b7;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -153px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #888;
    padding: 10px;

    & > .text {
      position: absolute;
      top: 3px;
      left: 18px;
      background-color: #b7b7b7;
      display: block;
      padding: 0 2px;
      text-align: center;
    }

    & > .content {
      padding: 10px;
      border: 1px inset #fff;
      font-size: 11px;
      padding-bottom: 5px;

      & > div {
        margin-bottom: 2px;
      }
    }
  }
}

.bm-selected-panel {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: @blue;
  opacity: .5;
}

.bm-zoom-panel {
  display: flex;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0;

  & > div {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 136px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: #000;
    opacity: 0.8;
    z-index: 10;
    color: #fff;
    border-radius: 20px;

    & > div {
      display: inline-block;
      width: 40px;
      text-align: center;

      & > i {
        font-size: 24px;
        cursor: pointer;
        border: 1px solid transparent;
        &:hover {
          border: 1px inset #2F2F2F;
        }
      }
    }


    & > span {
      display: inline-block;
      width: 46px;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
      text-align: center;
    }
  }
}
