/****/
.bm-global-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  user-select: none;
  cursor: move;
}
.bm-global-panel > img {
  width: 30px;
  pointer-events: none;
}
/****/
.bm-configur-panel {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
}
.bm-configur-panel__body {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  background-color: #fff;
  margin: auto;
  box-shadow: 1px 1px 10px #000;
}
.bm-configur-panel__header {
  line-height: 24px;
  padding: 5px;
  border-bottom: 1px solid #ebedf0;
  font-size: 16px;
}
.bm-configur-panel__close {
  float: right;
  font-size: 22px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: -5px;
  margin-right: -5px;
}
.bm-configur-panel__close:hover {
  color: #ee0a24;
}
.bm-configur-panel__content {
  position: relative;
  padding: 10px;
  height: calc(100% - 105px);
}
.bm-configur-panel__floor {
  text-align: right;
  padding: 0 10px;
  line-height: 44px;
  border-top: 1px solid #ebedf0;
}
.bm-configur-panel__floor > div {
  width: 80px;
}
.bm-configur-panel .bind-device {
  display: flex;
  height: calc(100% - 50px);
}
.bm-configur-panel .bind-device .device-list {
  flex: 1;
  margin-top: 5px;
  height: calc(100% - 36px);
}
.bm-configur-panel .bind-device .device-list > ul {
  height: 100%;
  overflow: auto;
}
.bm-configur-panel .bind-device .device-list > ul > li.active {
  background-color: #12a3ff;
  color: #fff;
}
.bm-configur-panel .bind-device .point-list {
  width: 120px;
  margin-top: 5px;
  height: 100%;
  overflow: auto;
  margin-left: 5px;
}
/**视图面板**/
.bm-view-panel {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ebedf0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #323233;
}
.bm-view-panel__title {
  line-height: 29px;
  border-bottom: 1px solid #dcdee0;
  padding-left: 5px;
}
.bm-view-panel__content {
  max-height: 300px;
  overflow: auto;
  padding: 5px;
}
.bm-view-panel__content li {
  line-height: 30px;
  border: 1px solid #dcdee0;
  display: flex;
}
.bm-view-panel__content li:not(:last-child) {
  border-bottom: none;
}
.bm-view-panel__content li > .text {
  flex: 1;
  background-color: #f7f8fa;
  padding-right: 5px;
  text-align: right;
}
.bm-view-panel__content li > .value {
  flex: 1;
  padding: 0px 5px;
}
.bm-view-panel__content li > .value > small {
  font-size: 8px;
  font-weight: 100;
}
.bm-view-panel__content li > .value > span {
  font-weight: bold;
}
/**下拉面板**/
.bm-select-panel {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  width: 100%;
}
.bm-select-panel > span {
  display: flex;
  border: 1px solid #ddd;
  cursor: pointer;
  user-select: none;
  line-height: 30px;
}
.bm-select-panel > span > .text {
  flex: 1;
  padding-right: 50px;
  padding-left: 5px;
}
.bm-select-panel > span > .icon {
  width: 15px;
  line-height: 32px;
}
.bm-select-panel > div {
  display: none;
  position: absolute;
  top: 28px;
  margin-top: 3px;
  background-color: #fff;
  width: calc(100% - 2px);
  border: 1px solid #ebedf0;
}
.bm-select-panel > div > ul {
  max-height: 240px;
  overflow: auto;
  padding: 5px;
}
.bm-select-panel > div > ul > li {
  line-height: 24px;
  cursor: pointer;
  padding: 3px 5px;
  border-bottom: 1px solid #F5F5F5;
}
.bm-select-panel > div > ul > li:last-child {
  border-bottom: 1px solid transparent;
}
.bm-select-panel > div > ul > li:not(.active):hover {
  background-color: #f5f5f5;
}
.bm-select-panel > div > ul > li.active {
  background-color: #108cee;
  color: #fff;
}
.bm-select-panel > div > ul > li.no-data {
  text-align: center;
}
.bm-select-panel--lg > span {
  line-height: 36px;
}
.bm-select-panel--lg > span > .icon {
  line-height: 36px;
}
.bm-select-panel--lg > div {
  margin-top: 9px;
}
.bm-select-panel--lg > div > ul > li {
  line-height: 30px;
}
/**输入下拉面板**/
.bm-input-panel {
  display: inline-block;
  position: relative;
  width: 100%;
}
.bm-input-panel > .form {
  display: flex;
  cursor: pointer;
  user-select: none;
  line-height: 30px;
}
.bm-input-panel > .form > .text {
  flex: 1;
  padding-right: 50px;
  padding-left: 5px;
  line-height: 30px;
}
.bm-input-panel > .form > .icon {
  line-height: 30px;
  width: 15px;
}
.bm-input-panel > .input-group {
  width: 100%;
  position: relative;
}
.bm-input-panel > .input-group > i {
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 32px;
}
.bm-input-panel > .panel-content {
  display: none;
  position: absolute;
  top: 28px;
  margin-top: 4px;
  background-color: #fff;
  width: calc(100% - 2px);
  border: 1px solid #ebedf0;
}
.bm-input-panel > .panel-content > ul {
  max-height: 240px;
  overflow: auto;
  padding: 5px;
}
.bm-input-panel > .panel-content > ul > li {
  line-height: 24px;
  cursor: pointer;
  padding: 3px 5px;
  border-bottom: 1px solid #F5F5F5;
}
.bm-input-panel > .panel-content > ul > li:last-child {
  border-bottom: 1px solid transparent;
}
.bm-input-panel > .panel-content > ul > li:not(.active):hover {
  background-color: #f5f5f5;
}
.bm-input-panel > .panel-content > ul > li.active {
  background-color: #108cee;
  color: #fff;
}
.bm-input-panel > .panel-content > ul > li.no-data {
  text-align: center;
}
/**密码面板**/
.bm-password-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-radius: 2px;
  padding: 0px 5px;
  box-shadow: 0px 0px 2px #888888;
}
.bm-password-panel__shade {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
}
.bm-password-panel__content {
  width: 325px;
  height: 160px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -153px;
  border-radius: 2px;
}
.bm-password-panel__header {
  line-height: 40px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
.bm-password-panel__header > span {
  display: inline-block;
  float: right;
  font-weight: 100;
  font-size: 24px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}
.bm-password-panel__header > span:hover {
  color: #fff;
  background-color: #CC0000;
}
.bm-password-panel__input {
  margin: 10px 20px;
  text-align: center;
}
.bm-password-panel__input > input {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  text-security: disc;
  -webkit-text-security: disc;
  -moz-text-security: disc;
  font-size: 18px;
  border: 1px solid #ddd;
}
.bm-password-panel__floor {
  line-height: 52px;
  border-top: 1px solid #ddd;
}
.bm-password-panel__floor > div {
  display: inline-block;
  width: calc(50% - 2px);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: -1px;
}
.bm-password-panel__floor > div:hover {
  background-color: #f7f8fa;
}
/**配置面板**/
.bm-config-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-radius: 2px;
  padding: 0px 5px;
}
.bm-config-panel__shade {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.bm-config-panel__content {
  position: relative;
  margin: auto;
  background-color: #b7b7b7;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -153px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #888;
  padding: 10px;
}
.bm-config-panel__content > .text {
  position: absolute;
  top: 3px;
  left: 18px;
  background-color: #b7b7b7;
  display: block;
  padding: 0 2px;
  text-align: center;
}
.bm-config-panel__content > .content {
  padding: 10px;
  border: 1px inset #fff;
  font-size: 11px;
  padding-bottom: 5px;
}
.bm-config-panel__content > .content > div {
  margin-bottom: 2px;
}
.bm-selected-panel {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #108cee;
  opacity: 0.5;
}
.bm-zoom-panel {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.bm-zoom-panel > div {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 136px;
  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-color: #000;
  opacity: 0.8;
  z-index: 10;
  color: #fff;
  border-radius: 20px;
}
.bm-zoom-panel > div > div {
  display: inline-block;
  width: 40px;
  text-align: center;
}
.bm-zoom-panel > div > div > i {
  font-size: 24px;
  cursor: pointer;
  border: 1px solid transparent;
}
.bm-zoom-panel > div > div > i:hover {
  border: 1px inset #2F2F2F;
}
.bm-zoom-panel > div > span {
  display: inline-block;
  width: 46px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}
