.bm-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  color: #323233;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  cursor: pointer;
}
.bm-cell:hover {
  background-color: #f7f8fa;
}
.bm-cell > span {
  display: inline-block;
  border-left: 2px solid transparent;
  margin-right: 5px;
}
.bm-cell > span.active {
  border-left: 2px solid #ee0a24;
}
.bm-cell:not(:last-child)::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ebedf0;
  transform: scaleY(0.5);
}
.bm-cell--borderless::after {
  display: none;
}
.bm-cell__label {
  margin-top: 3px;
  color: #969799;
  font-size: 12px;
  line-height: 18px;
}
.bm-cell__title,
.bm-cell__value {
  flex: 1;
}
.bm-cell > img {
  width: 20px;
  margin-top: 2px;
}
.bm-cell__value {
  position: relative;
  overflow: hidden;
  text-align: right;
  vertical-align: middle;
  word-wrap: break-word;
}
.bm-cell__value--alone {
  color: #323233;
  text-align: left;
}
.bm-cell__left-icon,
.bm-cell__right-icon {
  min-width: 1em;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
}
.bm-cell__left-icon {
  margin-right: 5px;
}
.bm-cell__right-icon {
  margin-left: 5px;
  color: #969799;
}
.bm-cell--clickable {
  cursor: pointer;
}
.bm-cell--clickable:active {
  background-color: #f2f3f5;
}
.bm-cell--required {
  overflow: visible;
}
.bm-cell--required::before {
  position: absolute;
  left: 10px;
  color: #ee0a24;
  font-size: 14px;
  content: '*';
}
.bm-cell--center {
  align-items: center;
}
.bm-cell--large {
  padding-top: 15px;
  padding-bottom: 15px;
}
.bm-cell--large .van-cell__title {
  font-size: 16px;
}
.bm-cell--large .van-cell__label {
  font-size: 14px;
}
.no-hover:hover {
  background-color: #fff;
}
