.bm-tree {
  line-height: 24px;
  padding: 5px;
  margin-bottom: 1px;
  cursor: pointer;
  background-color: #f2f3f5;
  font-weight: bold;
}
.bm-tree > div {
  display: inline-block;
  width: 10px;
}
