@import "./../style/bm";

.bm-tree {
  line-height: 24px;
  padding: 5px;
  margin-bottom: 1px;
  cursor: pointer;
  background-color: @gray-2;
  font-weight: bold;

  & > div {
    display: inline-block;
    width: 10px;
  }
}