.bm-tree {
  line-height: 24px;
  padding: 5px;
  margin-bottom: 1px;
  background-color: #f2f3f5;
  font-weight: bold;
}
.bm-tree > div {
  display: inline-block;
  float: right;
  cursor: pointer;
  border: 1px solid transparent;
}
.bm-tree > div:hover {
  border: 1px solid #ddd;
}
