@import "./../style/bm";

.bm-toolbar {
  height: 44px;
  background-color: @grayish;
  border-bottom: 1px solid @base-1;
  padding: 4px 10px;

  & > .item {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    color: #000;
    user-select: none;
    flex-flow: column nowrap;
    line-height: 20px;
    margin: 0 5px;

    &:hover:not(.disabled) {
      color: #12a3ff;
    }

    & > div {
      & i {
        font-size: 20px;
      }
    }
    & > span {
      font-size: 12px;
    }
  }

  & > .halving {
    width: 1px;
    height: 10px;
    display: inline-block;
    border-right: 1px solid #ddd;
    margin: 0 5px;
  }

  & > .disabled > div > i,
  & > .disabled > span {
    cursor: not-allowed;
    color: #666;
  }
}
