.bm-toolbar {
  height: 44px;
  background-color: #f6f7fb;
  border-bottom: 1px solid #cbd3e0;
  padding: 4px 10px;
}
.bm-toolbar > .item {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  color: #000;
  user-select: none;
  flex-flow: column nowrap;
  line-height: 20px;
  margin: 0 5px;
}
.bm-toolbar > .item:hover:not(.disabled) {
  color: #12a3ff;
}
.bm-toolbar > .item > div i {
  font-size: 20px;
}
.bm-toolbar > .item > span {
  font-size: 12px;
}
.bm-toolbar > .halving {
  width: 1px;
  height: 10px;
  display: inline-block;
  border-right: 1px solid #ddd;
  margin: 0 5px;
}
.bm-toolbar > .disabled > div > i,
.bm-toolbar > .disabled > span {
  cursor: not-allowed;
  color: #666;
}
