@import "./../style/bm";

.bm-component-list {
  display: inline-block;
  width: 186px;
  vertical-align: top;
  height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  color: #666;



  & .piece {
    text-align: center;
    width: 68px;
    height: 68px;
    padding: 5px;
    display: inline-block;
    border: 1px solid transparent;
    background-color: #fff;
    margin: 5px;

    & > p {
      line-height: 18px;
    }

    & > img:hover {
      cursor: move;
    }

    &:hover {
      border: 1px solid @blue;
    }
  }

  & > span {
    width: 160px;
    text-align: left;
    line-height: 14px;
    border-left: 2px solid red;
    padding-left: 2px;
    margin: 5px;
    font-weight: bold;
  }

  & .max {
    text-align: center;
    width: 155px;
    height: 60px;
    padding: 5px;
    display: inline-block;
    border: 1px solid transparent;
  }
}

.bm-list {

  & > li {
    line-height: 30px;
    margin: 1px 0;
    border: 1px solid @gray-4;
    padding: 3px 5px;
    display: flex;

    & > .text {
      flex: 1
    }

    & > .value {
      & > img {
        width: 18px;
        vertical-align: middle;
      }

      & > i {
        font-size: 18px;

        &:hover {
          color: red;
        }
      }
    }

    &:hover {
      background-color: @gray-1;
      cursor: pointer;
    }

    &.active {
      background-color: @blue;
      border: 1px solid @blue;
      color: #fff;
    }
  }
}

.bm-list--lg {
  & > li {
    line-height: 30px;
  }
}

.bm-common-list {
  & > li {
    line-height: 24px;
    margin: 1px 0;
    padding: 3px 8px;

    & > span ,
    & > img {
      display: inline-block;
      vertical-align: middle;
    }

    & > img {
      margin: 0 2px;
    }
  }
}

.bm-content {
  border: 1px solid #ddd;
  padding: 5px;

  & > span {
    margin-right: 10px;
  }

  & > div > span {
    line-height: 30px;
    height: 30px;
    vertical-align: top;
  }

  & > div > small {
    display: inline-block;
    height: 30px;
    vertical-align: top;
    cursor: pointer;
    margin-left: 5px;
  }
}

.bm-content-list {
  border: 1px solid #ddd;
  padding: 5px;

  & > li {
    line-height: 30px;
    margin: 5px 0;
    display: flex;

    & > span,
    & > img {
      vertical-align: middle;
      margin-right: 5px;
    }

    & > span > i {
      margin: 0 5px;
      cursor: pointer;

      &:hover {
        color: @red;
      }
    }
  }

}

.bm-action-list {
  & > li {
    line-height: 24px;
    margin: 1px 0;
    padding: 4px 8px;
    display: flex;
    background-color: @gray-1;

    & > .text {
      flex: 1
    }

    & > .value {
      & > img {
        width: 18px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    &:hover {
      background-color: @gray-3;
      cursor: pointer;
    }

    &.active {
      background-color: #12a3ff;
      color: #fff;
    }

    & .edit,
    & .close {
      width: 30px;
      cursor: pointer;
      text-align: center;
      font-size: 24px;
    }

    & .edit:hover {
      color: @blue;
    }

    & .close:hover {
      color: @red;
    }
  }
}

.bm-action-list--lg {
  & > li {
    line-height: 30px;
  }
}
