.bm-component-list {
  display: inline-block;
  width: 186px;
  vertical-align: top;
  height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  color: #666;
}
.bm-component-list .piece {
  text-align: center;
  width: 68px;
  height: 68px;
  padding: 5px;
  display: inline-block;
  border: 1px solid transparent;
  background-color: #fff;
  margin: 5px;
}
.bm-component-list .piece > p {
  line-height: 18px;
}
.bm-component-list .piece > img:hover {
  cursor: move;
}
.bm-component-list .piece:hover {
  border: 1px solid #108cee;
}
.bm-component-list > span {
  width: 160px;
  text-align: left;
  line-height: 14px;
  border-left: 2px solid red;
  padding-left: 2px;
  margin: 5px;
  font-weight: bold;
}
.bm-component-list .max {
  text-align: center;
  width: 155px;
  height: 60px;
  padding: 5px;
  display: inline-block;
  border: 1px solid transparent;
}
.bm-list > li {
  line-height: 30px;
  margin: 1px 0;
  border: 1px solid #dcdee0;
  padding: 3px 5px;
  display: flex;
}
.bm-list > li > .text {
  flex: 1;
}
.bm-list > li > .value > img {
  width: 18px;
  vertical-align: middle;
}
.bm-list > li > .value > i {
  font-size: 18px;
}
.bm-list > li > .value > i:hover {
  color: red;
}
.bm-list > li:hover {
  background-color: #f7f8fa;
  cursor: pointer;
}
.bm-list > li.active {
  background-color: #108cee;
  border: 1px solid #108cee;
  color: #fff;
}
.bm-list--lg > li {
  line-height: 30px;
}
.bm-common-list > li {
  line-height: 24px;
  margin: 1px 0;
  padding: 3px 8px;
}
.bm-common-list > li > span,
.bm-common-list > li > img {
  display: inline-block;
  vertical-align: middle;
}
.bm-common-list > li > img {
  margin: 0 2px;
}
.bm-content {
  border: 1px solid #ddd;
  padding: 5px;
}
.bm-content > span {
  margin-right: 10px;
}
.bm-content > div > span {
  line-height: 30px;
  height: 30px;
  vertical-align: top;
}
.bm-content > div > small {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  cursor: pointer;
  margin-left: 5px;
}
.bm-content-list {
  border: 1px solid #ddd;
  padding: 5px;
}
.bm-content-list > li {
  line-height: 30px;
  margin: 5px 0;
  display: flex;
}
.bm-content-list > li > span,
.bm-content-list > li > img {
  vertical-align: middle;
  margin-right: 5px;
}
.bm-content-list > li > span > i {
  margin: 0 5px;
  cursor: pointer;
}
.bm-content-list > li > span > i:hover {
  color: #ee0a24;
}
.bm-action-list > li {
  line-height: 24px;
  margin: 1px 0;
  padding: 4px 8px;
  display: flex;
  background-color: #f7f8fa;
}
.bm-action-list > li > .text {
  flex: 1;
}
.bm-action-list > li > .value > img {
  width: 18px;
  display: inline-block;
  vertical-align: middle;
}
.bm-action-list > li:hover {
  background-color: #ebedf0;
  cursor: pointer;
}
.bm-action-list > li.active {
  background-color: #12a3ff;
  color: #fff;
}
.bm-action-list > li .edit,
.bm-action-list > li .close {
  width: 30px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
}
.bm-action-list > li .edit:hover {
  color: #108cee;
}
.bm-action-list > li .close:hover {
  color: #ee0a24;
}
.bm-action-list--lg > li {
  line-height: 30px;
}
