.bm-component-list {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  color: #666;
}
.bm-component-list > div {
  text-align: center;
  margin-bottom: 20px;
  min-width: 88px;
  display: inline-block;
}
.bm-component-list > div > img {
  cursor: move;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 2px;
}
.bm-component-list > div > img:hover {
  border: 2px solid #12a3ff;
}
.bm-component-list > span {
  width: 160px;
  text-align: left;
  line-height: 14px;
  border-left: 2px solid red;
  padding-left: 2px;
  margin: 5px;
  font-weight: bold;
}
.bm-list > li {
  line-height: 30px;
  margin: 1px 0;
  border: 1px solid #dcdee0;
  padding: 3px 5px;
  display: flex;
}
.bm-list > li > .text {
  flex: 1;
}
.bm-list > li > .value > img {
  width: 18px;
  vertical-align: middle;
}
.bm-list > li > .value > i {
  font-size: 18px;
}
.bm-list > li > .value > i:hover {
  color: red;
}
.bm-list > li:hover {
  background-color: #f7f8fa;
  cursor: pointer;
}
.bm-list > li.active {
  background-color: #0075E7;
  border: 1px solid #0075E7;
  color: #fff;
}
.bm-common-list > li {
  line-height: 24px;
  margin: 1px 0;
  padding: 3px 8px;
}
.bm-common-list > li > span,
.bm-common-list > li > img {
  display: inline-block;
  vertical-align: middle;
}
.bm-common-list > li > img {
  margin: 0 2px;
}
.bm-content {
  border: 1px solid #ddd;
  padding: 5px;
}
.bm-content > span {
  margin-right: 10px;
}
.bm-content > div {
  margin: 0 5px;
}
.bm-content > div > span {
  line-height: 30px;
  height: 30px;
  vertical-align: top;
}
.bm-content > div > small {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  cursor: pointer;
  margin-left: 5px;
}
.bm-content-list {
  border: 1px solid #ddd;
  padding: 5px;
}
.bm-content-list > li {
  line-height: 30px;
  margin: 5px 0;
  display: flex;
}
.bm-content-list > li > span,
.bm-content-list > li > img {
  vertical-align: middle;
  margin-right: 5px;
}
.bm-action-list > li {
  line-height: 24px;
  margin: 1px 0;
  padding: 4px 8px;
  display: flex;
  background-color: #f7f8fa;
}
.bm-action-list > li > .text {
  flex: 1;
}
.bm-action-list > li > .value > img {
  width: 18px;
  display: inline-block;
  vertical-align: middle;
}
.bm-action-list > li:hover {
  background-color: #ebedf0;
  cursor: pointer;
}
.bm-action-list > li.active {
  background-color: #12a3ff;
  color: #fff;
}
