.bm-tooltip {
  font-size: 12px;
  position: absolute;
  padding: 5px;
  z-index: 999999;
  opacity: 0.9;
  min-width: 50px;
}
.bm-tooltip__tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 6px dashed #ff976a;
  top: 0;
  left: 20%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}
.bm-tooltip__tipsy-arrow-n {
  border-bottom-color: #ff976a;
}
.bm-tooltip__tipsy-inner {
  background-color: #ff976a;
  color: #fff;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
}
